{% extends "base.html" %}
{% block title %}Регистрация — ShopLite{% endblock %}
{% block content %}
<div class="narrow">
  <h1>Регистрация</h1>
  <div class="card">
    <form method="post" action="{{ url_for('auth.register_post') }}">
      <label class="field">
        <span>Логин</span>
        <input name="username" minlength="3" required>
      </label>
      <label class="field">
        <span>Пароль</span>
        <input name="password" type="password" minlength="6" required>
      </label>
      <button class="btn btn-primary w-full" type="submit">Создать аккаунт</button>
    </form>
    <div class="muted small">Уже есть аккаунт? <a class="link" href="{{ url_for('auth.login') }}">Войти</a></div>
  </div>
</div>
{% endblock %}
